<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방문 예약 [ 상세페이지 ]</title>
    <title>방문예약</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/set.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header_design.css">
    <link rel="stylesheet" href="/css/brd_detail.css">
</head>
<body>
    <%- include("header.ejs",{design:"design"}) %>
    <div id="container">
        <div class="center">
            <div class="main_title">
                <h1>상담 내역</h1>
            </div>
            <div class="board">
                <div class="box">
                  <span>제목:</span><p class="brd_list"><%- data.title %></p>
                  <span>예약자명:</span><p><%- data.username %></p>
                  <span>상담내역:</span><div class="brd_text"><%- data.text %></div>
                </div>
                <div class="btns">
                    <button type="submit"><a href="/brdupdate/<%- data.num %>">수정</a></button>
                    <div class="close">
                        <a href="/brdlist">뒤로가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer.ejs",{sub:""}) %>
</body>
</html>